<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

    <targets>
      <target name="errors" xsi:type="File" fileName="Errors.txt" />
      <target name="debugLog" xsi:type="File" fileName="DebugInfo.txt" />
    </targets>

    <rules>
      <logger name="*" minlevel="Error" writeTo="errors" />
      <logger name="*" minlevel="Debug" writeTo="debugLog" />
    </rules>
  
</nlog>